---
layout: pages
---

<section id="class-origins-section" class="positioner">
  <div class="container">
    <h2>Classes & Origins</h2>
    <div class="synergy-icons">
      {% for item in site.data.synergies %}
      <img src="assets/img/synergies/{{ item.name | split:' ' }}.png" alt="{{ item.name | split:' ' }}" id="{{ item.name | split:' ' }}" title="{{ item.name }}">
      {% endfor %}
    </div>
    <div class="synergy-container">
      {% for item in site.data.synergies %}
      <div class="{{ item.name | split:' ' }} synergy">
        <h3>{{ item.name }}</h3>
        <p>{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
