header#shortheader
  padding-top: 10px
  height: 400px
  background: url("../img/short_header_bg.jpg") center center / cover
  text-align: center

  h2
    color: black
    margin-top: 165px
    margin-bottom: 15px
    font-weight: bold

  h4
    margin-top: 0
    color: #061e47
    font-family: monospace
    font-size: 24px
    font-style: italic
